.wippage-section {
  height: 100vh;
  width: 100%;
  margin: 0;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (max-width: 768px) {
    height: 100dvh;
  }
}

.gallery {
  display: flex; /* Aligns the images horizontally */
  width: max-content; /* Ensures the width is based on the content */
  will-change: transform; /* Helps to improve performance during animation */
}

.gallery img {
  height: 250px; /* Sets the height of the images */
  object-fit: cover; /* Ensures the images maintain aspect ratio and fill the container */
  margin-right: 5px; /* Adds space between the images */
}
