.app-cursor {
  z-index: 1000;
  width: 16px; /* Increase size slightly */
  height: 16px;
  overflow: hidden;
  position: fixed;
  border-radius: 50%;
  background-color: black;
  color: black;
  pointer-events: none;
  transform: translate3d(0, 0, 0);
}

@media (max-width: 768px) {
  /* Tablet breakpoint */
  .app-cursor {
    display: none;
    color: white;
    cursor: default;
  }
}
