.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 900;
}

.header-left {
  display: flex;
  align-items: center;
}

.logo {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  position: relative;
}

.initials {
  transition: opacity 0.3s ease-in-out;
}

.full-name {
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.3s ease-in-out,
    visibility 0.3s ease-in-out;
  white-space: nowrap; /* prevents line breaks */
}

.logo:hover .full-name {
  opacity: 1;
  visibility: visible;
}

.header-right .plus-btn {
  font-size: 35px;
  font-weight: 100 !important;
}

.plus-btn:hover {
  font-style: italic;
}
