:root {
  font-family: "IBM Plex Mono", monospace;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,
body {
  cursor: none;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none !important;
  scroll-behavior: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none !important;
}

.next-btn {
  position: absolute;
  bottom: 40px;
  font-size: 12px;
  font-weight: 500;
  font-family: "IBM Plex Mono", monospace;
  padding-left: 30px; /* Adds space for the dot */

  @media (max-width: 768px) {
    font-size: 12px;
    padding-left: 20px;
  }
}

.next-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0; /* Positions the dot 0px from the left */

  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #000000;
  transition: opacity 0.5s;
}

.next-btn:hover::before {
  opacity: 1;
  animation: blink 750ms infinite;
}

.next-btn:hover {
  font-style: italic;
}

.menu-btn {
  position: relative;
  display: inline-block;
  color: black;
  text-decoration: none;
}
.menu-btn:hover {
  font-style: italic;
}

.menu-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -15px;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #000000;
  opacity: 0;
}

.menu-btn.active::before {
  animation: none !important;
  opacity: 1;
}

.menu-btn:not(.active):hover::before {
  opacity: 1;
  animation: blink 750ms infinite;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.common-img-fade {
  opacity: 0;
  transition: opacity 1.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}
.fade-in {
  opacity: 1;
}

.fade-in:hover {
  opacity: 0.8; /* Dim when hovering */
  transition: opacity 0.5s ease; /* Faster transition on hover */
}

@media (max-width: 768px) {
  .common-img-fade {
    opacity: 1; /* Ensure images are fully visible right away */
    transition: none; /* Remove the fade-in transition */
  }

  .fade-in {
    opacity: 1; /* Maintain full visibility without fading */
  }

  .fade-in:hover {
    opacity: 1; /* Dim when hovering */
    transition: opacity 0.5s ease; /* Faster transition on hover */
  }
  body {
    -webkit-text-size-adjust: 100%; /* Prevents font scaling on iPhones */
  }
}
